.asset_image_container {
    padding: 8px;
    background: var(--orange-accent-faded-400);
    margin-right: 1rem;
}
.circle {
    border-radius: 50%;
}
.circle .asset_image {
    border-radius: 50%;
}
.square {
    border-radius: 8px;
}
.square .asset_image {
    border-radius: 5px;
}