.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--absolute-z-index-modal);


    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: calc(var(--absolute-z-index-modal) - 100);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.5px);
    cursor: pointer;
}

.content_container {
    background: var(--white);
    width: 80vw;
    height: max-content;
    max-height: 60vh;
    margin: 0 auto;
    padding: 5%;
    border-radius: 16px;

    overflow-y: auto;
}

@media screen and (min-width: 1024px) {
    .content_container {
        width: 50vw;
        max-height: 70vh;
    }
}