/* variables */
:root {
  --orange-accent-900: #ff7000;
  --orange-accent-800: #ff7200;
  --orange-accent-700: #ffa300;
  --orange-accent-600: #ffa500;
  --orange-accent-500: #e96800;
  --orange-accent-400: #ff7401;
  --orange-accent-300: #ff3d00;
  --orange-accent-faded-100: #f9dcc6;
  --orange-accent-faded-200: #f9dcc633;
  --orange-accent-faded-300: rgba(255, 114, 0, 0.2);
  --orange-accent-faded-400: rgba(248, 160, 54, 0.1);
  --orange-accent-faded-800: rgba(255, 163, 0, 0.03);
  --orange-accent-faded-900: rgba(255, 112, 0, 0.7);

  --orange-accent-a-900: #ff7000;

  --teal-accent-100: #194c4d;
  --teal-accent-200: #174a4b;
  --teal-accent-300: #1d5051;
  --teal-accent-400: #1f5253;

  --teal-accent-faded-100: #194c4dd7;
  --teal-accent-faded-a-100: #d7e3e3;
  --teal-accent-faded-aa-100: rgba(229, 250, 251, 0.5);

  --grey-accent-100: #fbfbfb;
  --grey-accent-200: #f5f5f5;
  --grey-accent-300: #ededed;
  --grey-accent-400: rgba(230, 230, 230, 0.957);
  --grey-accent-500: #c5c5c5;
  --grey-accent-600: #8e8e8e;
  --grey-accent-700: rgba(#8e8e8e, 0.58);
  --grey-accent-800: #7a7878;
  --grey-accent-900: #686868;

  --grey-accent-a-100: #ecefef;
  --grey-accent-a-200: #e2eaea;
  --grey-accent-a-300: #b9b9b9;
  --grey-accent-a-400: #dee2e6;
  --grey-accent-a-600: #838383;
  --grey-accent-a-700: #575758;
  --grey-accent-a-800: #444444;
  --grey-accent-a-900: #393939;

  --grey-accent-b-100: #ffffff;

  --black-accent-500: #444444;
  --black-accent-900: #000000;

  --white: #ffff;

  --crimson-accent-100: #ef233c;
  --crimson-accent-900: #ff0000;
  --crimson-accent-faded-900: #ff000026;

  --red-accent-100: #ff0000;
  --red-accent-faded-100: #fff6f6;
  --red-accent-900: #a10003;

  --white: #ffffff;

  --green-accent-100: #64c900;
  --green-accent-900: #00a336;

  --green-accent-faded-100: #64c9002d;

  --blue-accent-100: #00b2ff;
  --blue-accent-faded-900: rgba(21, 61, 242, 0.25);
  --blue-accent-faded-100: rgba(229, 250, 251, 0.5);

  --purple-accent-100: #ad5b94;

  --orange-gradient-1: linear-gradient(
    91.03deg,
    #ff7000 -2.69%,
    #ffa300 106.38%
  );
  --orange-webkit-gradient-1: -webkit-linear-gradient(
    45deg,
    #ff7000 -2.69%,
    #ffa300 106.38%
  );
  --orange-pink-gradient-1: linear-gradient(
    110.04deg,
    #ffa300 -5.83%,
    #ff7c9b 69.77%,
    #d02eca 97.86%
  );
  --orange-pink-webkit-gradient-1: -webkit-linear-gradient(
    110.04deg,
    #ffa300 -5.83%,
    #ff7c9b 69.77%,
    #d02eca 97.86%
  );
  --orange-gold-gradient-1: linear-gradient(
    360deg,
    #e1ad0c 43.86%,
    #d97228 49.56%
  );
  --orange-gold-webkit-gradient-1: -webkit-linear-gradient(
    360deg,
    #e1ad0c 43.86%,
    #d97228 49.56%
  );

  --shadow-100: 0px 2px 4px -2px rgba(16, 24, 40, 0.03);
  --shadow-200: 0px 3px 3px 1px rgba(16, 24, 40, 0.08);
  --shadow-500: 0px 0px 6px 2px rgba(16, 24, 40, 0.09);

  --border-100: 0.5px solid var(--grey-accent-a-600);
  --border-200: 0.5px solid var(--grey-accent-500);
  --border-300: 0.5px solid var(--grey-accent-300);

  --mobile-dashboard-navbar-header-height: 55px;

  --absolute-z-index-dropdown: 85;
  --absolute-z-index-navigation: 90;
  --absolute-z-index-notifications: 95;
  --absolute-z-index-modal: 99;
  --absolute-z-index-loader: 99;
  --absolute-user-menu: 98;

  --disabled-input-field: var(--grey-accent-300);
  --border-color: var(--grey-accent-800);

  --primary-button: var(--orange-gradient-1);

  --input-outline-color: var(--orange-accent-500);

  --table-border-color: var(--grey-accent-a-900);
  --table-shadow: 0px 0px 0px 1px var(--grey-accent-500);
  --table-border: var(--border-200);
  --table-row-line: var(--border-200);

  --component-container-border: var(--border-300);

  --delete-button-color: var(--orange-accent-faded-300);
  --delete-button-text-color: var(--crimson-accent-900);

  --glass-backgound-color: rgba(0, 0, 0, 0.2);
  --glass-backgound-blur: blur(7.5px);

  --eclipse-7: rgba(255, 112, 0, 0.4);

  --loader-orange-color: var(--orange-accent-300);
}

@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}
/* reset */
body {
  font-family: "Manrope", "open sans", monospace;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
/* width */
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

/* base styles  */
img {
  width: 100%;
  height: 100%;
}

.flex-display {
  display: flex;
}
.flex-display-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-display-row-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-display-row-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-display-column-center {
  display: flex;
  align-items: center;
}
.flex-display-column-end {
  display: flex;
  align-items: flex-end;
}

.twin_buttons {
  display: flex;
  gap: 1rem;
}
.twin_buttons > * {
  width: 30%;
}

.breaking_wide {
  display: none;
}

.eclipse {
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 700px) {
  .breakline_narrow {
    display: none;
  }
  .breaking_wide {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .twin_buttons {
    justify-content: flex-start;
  }
  .twin_buttons > * {
    width: 25%;
  }
}
